@font-face {
  font-family: "Verdana";
  src: url("/home/daUnknownCoder/Documents/excursion/resources/fonts/verdana/verdana.ttf");
}

.header1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  text-align: center;
}

.cta {
  font-family: Verdana;
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

